/* app css stylesheet */

.question {
    padding-left: 30px;
    padding-top: 20px;
}

.carousel-control {
    margin-top: -20px;
    width: 50px;
    height: 50px;
    background: #222222;
    border: 3px solid #ffffff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
        width: 30px;
        height: 30px;
        margin-top: -13px;
        font-size: 27px;
    }
}